# Reserved for future login credential encryption; currently not read by the API
ENCRYPTION_KEY=your-encryption-key

# Database info/credentials
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ordreflow
DB_USERNAME=ordreflow
DB_PASSWORD=change-this-local-password




#to test locally with local database, the web api get the following parmeter and using that locally
#Manager
# DEV_USER_ID="6da7cc94-0ea4-4d98-84a8-10d8b5ce2520"
# DEV_USER_ID="22222222-2222-2222-2222-222222222222"
#employee
DEV_USER_ID="5e530cd5-924a-445d-84ef-69bfb21ee241"